body{
    font-family:"cinnamon";
}

.dropdown-menu{
   font-size:1em;
}
.navbar-collapse{
    text-align:center;
}

.navbar-nav{
    display:inline-block;
    float:none;
}

@font-face {
font-family: "cinnamon";
src: url('cinnamonCake.ttf');
}