body{
    font-family:"cinnamon";
}

p, ul, tbody, th{
    font-size:20px;
}

.etoile{
    font-size:15px !important;
}
.table{
    margin-left:4% !important;
}
.h1Allergenes, .pAllergenes{
    margin-left:2% !important;
}
.dropdown-menu{
    font-size:1em;
}
.navbar-collapse{
    text-align:center;
}

.navbar-nav{
    display:inline-block;
    float:none;
}

@font-face {
font-family: "cinnamon";
src: url('cinnamonCake.ttf');
}